*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: sans-serif;
}

header{

}
.blue{
  background-color: #425b76;
  border-top: orange solid 2px;
  position: relative;
}

.blue::after{
  content:"";
  display: table;
  clear:both;
}
li{
  list-style: none;
  margin: 10px 20px;
  padding: 15px 15px;
  position: relative;
  float: left;

}
/* menu a tendina?? */
/* .blue #hormenu1 li
{
width:100px;
float:left;
margin: 0;
padding: 0;
border-right: 1px solid black;
color:black;
} */

li  {
  font-size: 10px;
  color: white;
  text-decoration: none;

}
.blue ul li a img{
 width: 20px;
 height: auto;
 float: left;
}


.gray{
  background-color: lightgray;
  position: relative;
}

.gray::after{
  content:"";
  display: table;
  clear:both;
}

.white{
  height: 50px;
  background-color: white;
  position: relative;
}

.white::after{
  content:"";
  display: table;
  clear:both;
}
/* .white #hormenu3 li
{
width:100px;
float:right;
margin: 0;
padding: 0;
border-right: 1px solid black;
color:black;
} */
.white #hormenu3 li{
  color: #425b76;
  float: right;
}
section{
  height: 300px;
  border-bottom: 1px solid black;
  background-color: white;
}


footer{
  height: 300px;
  background-color:#425b76;
}
