*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: sans-serif;
}
.center-cont{
  width: 70%;
  margin: 0 auto;
}

.blue{
  background-color: #425b76;
  border-top: orange solid 2px;
  position: relative;
}

.blue::after{
  content:"";
  display: table;
  clear:both;
}
li{
  list-style: none;
  margin: 10px 20px;
  padding: 15px 15px;
  position: relative;
  float: left;
  font-size: 10px;
  color: white;
  text-decoration: none;

}

.blue ul li a img{
 width: 20px;
 height: auto;
 float: left;
}


.gray{
  background-color: lightgray;
  position: relative;
}

.gray::after{
  content:"";
  display: table;
  clear:both;
}

.white{
  padding: 20px 100px;
  background-color: white;
  position: relative;
}

.white::after{
  content:"";
  display: table;
  clear:both;
}

.white #hormenu3 li{
  color: #425b76;
  float: right;
}
section{
  position: relative;

  background-color: white;
}
#title{
  background-image: url("img/casette.jpeg");
  background-size: contain;
  position: relative;
  padding: 20px 100px;
}
#title::after{
  content:"";
  display: table;
  clear:both;
}
.titlearea{
  position: relative;
  float: left;
  margin-top: 100px;
  padding: 20px 100px;

}
h1{
  font-size: 40px;
  color: white;
  text-align: left;
}
.titlearea h5{
  font-size: 15px;
  color: white;
}
 .titlearea p{
  font-size: 10px;
  color: white;
  line-height: 20px;
}
.titlearea button{
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.main{
  position: relative;
  background-color: #E8E8E8;
}
.rubick{
  position: relative;
  text-align: center;
  padding: 100px 300px;
}
.rubick img{
  width: 200px;
  height: auto;
}

.container{
  position: relative;
  margin: 0;
  padding: 20px;


}
.container img{
  width: 150px;
  height: auto;
}
.main .rubick h2{
 color: #425b76;
}
/* .container::after{
  content:"";
  display: table;
  clear:both;
} */
.duecol{
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 40px;
  background-color: white;
}
.duecol::after{
  content:"";
  display: table;
  clear:both;
}
.sx{
  width: 400px;
  position: relative;
  float: left;
  display: block;
}
button{
  display: block;
  margin: 15px;
  padding: 15px;
}
.dx{
  width: 400px;
  position: relative;
  float: right;

}
.container1{
  position: relative;
  width: 70%;
  margin: 5% auto;


}
.sottocontainer::after{
  content:"";
  display: table;
  clear:both;
}


.sottocontainer1{
  width: 25%;
  position: relative;
  float: left;
  padding: 5%;
  background-color: white;
}
.sottocontainer2{
  width: 25%;
  position: relative;
  float: left;
  margin: 0 12%;
  padding: 5%;
  background-color: white;
}
.sottocontainer li{
  color: #425b76;
  list-style:unset;
}
.sottocontainer h4{
  color: #425b76;
  text-align: center;
  line-height: 40px;
  font-size: 10px;
}

.dati{
  background-color: #52bba6;
}
.learn{
  position: relative;
  text-align: center;
  padding: 100px 100px;
}

h2{
  font-size: 30px;
  color: white;

}

.rigabox{
  width: 80%;
  position: relative;
  margin: auto;

}
.rigabox::after{
  content:"";
  display: table;
  clear:both;
}
.box{
  width: 25%;
  height: 50%;
  position: relative;
  float: left;
  border-bottom: white 1px solid;
  border-right: 1px solid white;
  padding: 10px;
}

.box div{
  font-size: 50px;
  font-weight: bold;
  color: white;
  position: relative;
  text-align: center;

}
 .sotto > .box{
  border-bottom: none;
  border-right: 1px solid white;
  margin-bottom: 100px;

}
.box:last-child{
  border-right: none;
}


.customers{
  position: relative;
  background-color: white;
  padding: 100px;

}
.customers::after{
  content:"";
  display: table;
  clear:both;
}
h3{
  font-size: 30px;
  color:#425b76;
}
p{
  font-size: 20px;
  color:#425b76;
}

.customers .custsx{
  width: 50%;
  position: relative;
  float: left;
  margin: auto;
  padding: 50px;
}
.customers .custdx{
  width: 50%;
  position: relative;
  float: left;
  margin: auto;
  padding: 10px;
}
.custdx::after{
  content:"";
  display: table;
  clear:both;
}
.customers .custdx img{
  width: 25%;
  float: left;
  margin: 5% auto;
  padding: 5px;
}
.growth .duegrowth{
  background-color: white;
  position: relative;
  /* margin: 0;
  padding: 20px; */

}


.duegrowth::after{
  content:"";
  display: table;
  clear:both;
}

.growth .duegrowth .growthsx{
  width: 50%;
  float: left;
  position: relative;
  padding: 100px;

}
.growth .duegrowth .growthdx{
  width: 50%;
  position: relative;
  float: left;
  padding: 100px;
}
.growth .duegrowth .growthdx img{
  width: 300px;
  height: auto;
}
footer{
  background-color:#425b76;
}
.row{
  position: relative;
  margin: auto;
}
.row::after{
  content:"";
  display: table;
  clear:both;
}
.col{
  width: 25%;
  position: relative;
  float: left;
  padding: 20px;
}
h5{
  margin-top: 40px;
  color: white;
  font-size: 15px;
}

.col a{
  line-height: 40px;
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
.rowlan{
  margin-left: 30%;
}
.language{
  /* position: relative;
  float: left; */
  display: inline-block;
  padding: 10px 10px;
  margin: auto ;
}
.rowlan .language a{
  color: white;
  font-weight: lighter;
  text-decoration: none;
}

.lastsx{
  width: 30%;
  position: relative;
  float: left;
  margin: auto;
  padding: 20px;
}
.lastsx p{
  color: white;
  font-size: 5px;
}
.lastdx{
  position: relative;
  width: 40%;
  position: relative;
  float: right;
  margin: auto;
  /* padding: 20px; */
  display: inline-block;
}

.lastdx .legal a{
  color: white;
  font-size: 15px;
  text-decoration: none;
}
