*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: sans-serif;
}

header{

}
.blue{
  background-color: #425b76;
  border-top: orange solid 2px;
  position: relative;
}

.blue::after{
  content:"";
  display: table;
  clear:both;
}
li{
  list-style: none;
  margin: 10px 20px;
  padding: 15px 15px;
  position: relative;
  float: left;

}
/* menu a tendina?? */
/* .blue #hormenu1 li
{
width:100px;
float:left;
margin: 0;
padding: 0;
border-right: 1px solid black;
color:black;
} */

li  {
  font-size: 10px;
  color: white;
  text-decoration: none;

}
.blue ul li a img{
 width: 20px;
 height: auto;
 float: left;
}


.gray{
  background-color: lightgray;
  position: relative;
}

.gray::after{
  content:"";
  display: table;
  clear:both;
}

.white{
  padding: 20px 100px;
  background-color: white;
  position: relative;
}

.white::after{
  content:"";
  display: table;
  clear:both;
}
/* .white #hormenu3 li
{
width:100px;
float:right;
margin: 0;
padding: 0;
border-right: 1px solid black;
color:black;
} */
.white #hormenu3 li{
  color: #425b76;
  float: right;
}
section{
  /* height: 300px; */
  border-bottom: 1px solid black;
  background-color: white;
}
#title{
  background-image: url("img/casette.jpeg");
  background-size: contain;
  position: relative;
  padding: 20px 100px;
}
#title::after{
  content:"";
  display: table;
  clear:both;
}
.titlearea{
  position: relative;
  float: left;
  margin-top: 100px;
  padding: 20px 100px;

}
h1{
  font-size: 40px;
  color: white;
  text-align: left;
}
.titlearea h5{
  font-size: 15px;
  color: white;
}
.titlearea p{
  font-size: 10px;
  color: white;
}
.titlearea button{
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.main{
  position: relative;
  background-color: #E8E8E8;
}
.rubick{
  position: relative;
  text-align: center;
  padding: 100px 300px;
}
.rubick img{
  width: 200px;
  height: auto;
}
footer{
  height: 300px;
  background-color:#425b76;
}
