*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: sans-serif;
}

header{

}
.blue{
  background-color: #425b76;
  border-top: orange solid 2px;
  position: relative;
}

.blue::after{
  content:"";
  display: table;
  clear:both;
}
li{
  list-style: none;
  margin: 10px 20px;
  padding: 15px 15px;
  position: relative;
  float: left;

}
/* menu a tendina?? */
/* .blue #hormenu1 li
{
width:100px;
float:left;
margin: 0;
padding: 0;
border-right: 1px solid black;
color:black;
} */

li  {
  font-size: 10px;
  color: white;
  text-decoration: none;

}
.blue ul li a img{
 width: 20px;
 height: auto;
 float: left;
}


.gray{
  background-color: lightgray;
  position: relative;
}

.gray::after{
  content:"";
  display: table;
  clear:both;
}

.white{
  padding: 20px 100px;
  background-color: white;
  position: relative;
}

.white::after{
  content:"";
  display: table;
  clear:both;
}
/* .white #hormenu3 li
{
width:100px;
float:right;
margin: 0;
padding: 0;
border-right: 1px solid black;
color:black;
} */
.white #hormenu3 li{
  color: #425b76;
  float: right;
}
section{
  /* height: 300px; */
  position: relative;

  background-color: white;
}
#title{
  background-image: url("img/casette.jpeg");
  background-size: contain;
  position: relative;
  padding: 20px 100px;
}
#title::after{
  content:"";
  display: table;
  clear:both;
}
.titlearea{
  position: relative;
  float: left;
  margin-top: 100px;
  padding: 20px 100px;

}
h1{
  font-size: 40px;
  color: white;
  text-align: left;
}
.titlearea h5{
  font-size: 15px;
  color: white;
}
 p{
  font-size: 10px;
  color: white;
  line-height: 20px;
}
.titlearea button{
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.main{
  position: relative;
  background-color: #E8E8E8;
}
.rubick{
  position: relative;
  text-align: center;
  padding: 100px 300px;
}
.rubick img{
  width: 200px;
  height: auto;
}

.container{
  position: relative;
  margin: 0;
  padding: 20px;


}
.container img{
  width: 150px;
  height: auto;
}
/* .container::after{
  content:"";
  display: table;
  clear:both;
} */
.duecol{
  position: relative;
  width: 70%;
  /* height: 300px; */
  margin: 20px auto;
  padding: 40px;
  background-color: white;
}
.duecol::after{
  content:"";
  display: table;
  clear:both;
}
.sx{
  width: 400px;
  position: relative;
  float: left;
  display: block;
}
button{
  display: block;
  margin: 15px;
  padding: 15px;
}
.dx{
  width: 400px;
  position: relative;
  float: right;
  /* display: block; */

}
.container1{
  position: relative;
  width: 70%;
  /* height: 300px; */
  margin: 5% auto;


}
.sottocontainer::after{
  content:"";
  display: table;
  clear:both;
}


.sottocontainer1{
  width: 25%;
  height: 800px;
  position: relative;
  float: left;

  padding: 5%;
  background-color: white;
}
.sottocontainer2{
  width: 25%;
  height: 800px;
  position: relative;
  float: left;
  margin: 0 12%;
  padding: 5%;
  background-color: white;
}
.sottocontainer li{
  color: black;
}


.dati{
  background-color: #52bba6;
}
.learn{
  position: relative;
  text-align: center;
  padding: 100px 300px;
}

h2{
  font-size: 35px;
  color: white;
  text-align: center;
}
.mainbox{
  position: relative;
  margin: auto;
  /* left: 50%;
  top: 50%;
  transform: translate("-50%,-50%"); */
}
.rigabox{

  position: relative;
  margin: auto;

}
.rigabox::after{
  content:"";
  display: table;
  clear:both;
}
.box{
  width: 20%;
  height: 50%;
  position: relative;
  float: left;
  border-bottom: white 1px solid;
  border-right: 1px solid white;
  padding: 10px;
}


/* .box img{
  width: 30px;
  height: auto;
  position: relative;
  left: 50%;
  top:50%;
} */
.box div{
  font-size: 50px;
  font-weight: bold;
  color: white;
  position: relative;
  text-align: center;

}

.rigabox1 > .box{
  border-bottom: none;
  border-right: 1px solid white;

}
.box:last-child{
  border-right: none;
}
.rigabox1::after{
  content:"";
  display: table;
  clear:both;
}

.customers{
  position: relative;
  background-color: white;
  padding: 100px;

}
.customers::after{
  content:"";
  display: table;
  clear:both;
}
h3{
  font-size: 30px;
  color:#425b76;
}
p{
  font-size: 20px;
  color:#425b76;
}

.customers .sx{
  width: 400px;
  position: relative;
  float: left;
  margin: auto;
  padding: 50px;
}
.customers .dx{
  width: 400px;
  position: relative;
  float: left;
  margin: auto;
  padding: 10px;
}
.dx::after{
  content:"";
  display: table;
  clear:both;
}
.customers .dx img{
  float: left;
  margin: auto;
  padding: 5px;
}
.growth .duecol{
  background-color: white;
  position: relative;
  margin: 0;
  padding: 20px;

}

.growth .duecol::after{
  content:"";
  display: table;
  clear:both;
}

.growth .duecol .sx{
  float: left;
  position: relative;
  padding: 100px;

}
.growth .duecol .dx{
  position: relative;
  float: left;
}
.growth .duecol .dx img{
  width: 300px;
  height: auto;
}
footer{
  height: 300px;
  background-color:#425b76;
}
